@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

*
{
    box-sizing: border-box;
}

body
{
    background-color: #242333;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Baloo 2";
    margin: 0;
}

.movies_container
{
    margin: 20px;
}

.movies_container select
{
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-size: 14;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.seat
{
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-radius: 0px 0px 10px 10px;
}

.seat.selected
{
    background-color: #6FEAF6;
}

.seat.occupied
{
    background-color: #FFFFFF;
}

.seat:nth-of-type(2)
{
    margin-right: 18px;
}

.seat:nth-last-of-type(2)
{
    margin-left: 18px;
}

.seat_select .seat:not(.occupied):hover
{
    cursor: pointer;
    transform: scale(1.2);
}

.legend
{
    background-color: rgba(0,0,0,0.2);
    padding: 5px 10px;
    border-radius: 4px;
    color: #777777;
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
}

.legend li
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.legend small
{
    margin-left: 2px;
}

.screen
{
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 4px 10px 5px rgba(194, 194, 255, 0.6);
}

.container
{
    perspective: 1000px;
    margin-bottom: 30px;
}

.row
{
    display: flex;
}

p.text
{
    background-color: rgba(0,0,0,0.2);
    padding: 5px 10px;
    border-radius: 4px;
    color: #777777;
}

span
{
    color: #6FEAF6;
}